<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /spa-routing/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /spa-routing/index.html [L]
</IfModule>